.myButton {
    position: relative;
    width: 250px;
    height: 50px;
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    z-index: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
}

.myButton::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #003227, #005844, #007b5f, #00c389, #7ae1bf, #00c389, #007b5f, #005844, #003227) repeat;
    background-size: 400%;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.myButton:hover::before {
    opacity: 0.5;
}

.myButton::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.myButton:active::after {
    opacity: 0;
}

.myButton:active {
    color: black;
}

.myButton:active::before {
    opacity: 1;
}

.sliceButton {
    position: relative;
    width: 200px;
    height: 50px;
    margin: 20px;
    border-left-color: #00c389;
    border-style: none;
    border-left-style: solid;
    border-left-width: 5px;
    background-color: #005844;
    z-index: 0;
    transition: ease-in-out color 1s;
}

.sliceButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00c389;
    opacity: 1;
    transition: width 1s ease-in-out;
    z-index: -1;
}


.sliceButton:hover::after {
    width: 100%;
}

.sliceButton:hover {
    color: black;
}

.sliceButton:active {
    width: 180px;
    height: 45px;
}

.sliceButton::before{
    content:'';
    background-color: aqua;
    width: 200%;
    height: 200%;
    border-width: 100px;
    border-color: white;
}

.sliceButton:active::before {
    width: 100px;
    animation: boom 1s linear infinite
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 400% 0;
    }
}

@keyframes boom {
    0% {
        border-width: 0
    }

    100% {
        border-width: 100px;
    }
}
